<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <component-scan base-package="cn.bugstack.springframework.test.bean"/>

    <bean id="userDao" class="com.shike.bean.UserDao"/>

    <bean id="userService" class="com.shike.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>